<launch>
    <!-- <node pkg="rosbag" type="play" name="play" args="$(find aerial_hitter)/ros_bags/traj_prediction/bag3.bag"/> -->


    <node pkg="aerial_hitter" type="test_predict" name="test_predict" output="screen"/>
    <rosparam command="load" file="$(find aerial_hitter)/param/traj_prediction/param.yaml" />
    
    <node pkg="tf" type="static_transform_publisher" name="trajView2map" args="0 0 0 0 0 0  /map /traj_view 10" />
    <node pkg="tf" type="static_transform_publisher" name="trajPredict2map" args="0 0 0 0 0 0  /map /traj_predict 10" />
    <node pkg="tf" type="static_transform_publisher" name="trajHit2map" args="0 0 0 0 0 0  /map /traj_hit 10" />
    <node pkg="tf" type="static_transform_publisher" name="trajHitPoint2map" args="0 0 0 0 0 0  /map /traj_hitPoint 10" />



    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aerial_hitter)/rviz/rviz.rviz"/>
    
</launch>